<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
/* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

  </style>

</head>

<%# メニューのところ%>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://sites.google.com/view/sheenbanach/%E6%B4%BB%E5%8B%95%E5%85%A8%E8%88%AC?authuser=0">リノベーションのページ</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">英語脳</a></li>
        <li><a href="#">ビジネス脳</a></li>
        <li><a href="#">数学脳</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>


<%# ここから下はメインのところ %>





<body>


  <%#　ここは余白のところ %>
  <div class="jumbotron">
    <div class="container text-center">
      <h1>情報管理</h1>
      <p>すべての情報をわかりやくすく直感的に整理してみましょう</p>
  </div>
  </div>



  <div class="container">

<%# ちょっとしたコメントをここに入力%>
  <h1>ツイッター連動パターンをする意義</h1>
  <p>これから欲しいプロジェクト　ドラゴン桜企画　えーとあとは
理系女子　育成計画とか　あとはバッティング理論とか全面にくるといいよね。
あと欲しい物は完成したコミュニティーなど
そうねあとはレシートゲームとかを入れたいね。この流れを加速させていきたいね
メンバー情報とかも書くといいよね　顧客管理情報な感じがしていいね
    たくさんの調査が必要である。調査を最もしやすい形はツイッター連動パターンである。
  書いた内容はより論理的にまとめていくひつようがあるのでエバーノートポスタッチオ連動がよい
もっと直感的にわかりやすくブログのようにまとめる場所はNEW　GOOGLE　SITEがよいでしょうね
ツイッターの特性上更新頻度とかを確認できるからいいよね。独立コミュニティーごとにプロジェクトを回しましょう。
各プロジェクトの名前のところポスタッチオ連動して論理的な文章がかけているかどうかを調査しましょう。
</p>
</div>




<div class="container">
  <div class="w3-container w3-pale-red">
  <h2>今最も力を入れている活動ベスト8</h2>
  <p>いろいろなプロジェクトを同時に調査する中でどんどん世界観が変わってきたり抽象化して
    プロジェクト数が変更になったりしますね。</p>

  <div class="row">
<div class="col-sm-3">
<%# 第1陣；ここにツイッターのタイトルとその内容を書いてみよう４つ分が表示される
フランス語　数学　英語喉　世界観占い
%>
      <h3>フランス語宇宙旅行</h3>
      <p>フランス語脳を作るために宇宙旅行中
      レッスンカリキュラムを作れるまで徹底的に取り組んでいくべき</p>
<a class="twitter-timeline" href="https://twitter.com/francaissheen" data-tweet-limit="2">Tweets by Travel_Acoustic</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    <div class="col-sm-3">
<h3>数学小僧</h3>
<p>数学の情報をとにかく発信　数学者への道
ｐ４やはてなブログなどをどんどんつかっていってLatexに慣れていきましょう。</p>
      <a class="twitter-timeline" href="https://twitter.com/mathsheen" data-tweet-limit="2">Tweets by francaissheen</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    <div class="col-sm-3">
<h3>英語喉</h3>
<p>英語喉の情報をどんどんアップして
基本的な発音から直感的にわかるようなレッスンをどんどん作っていきましょう。</p>
<a class="twitter-timeline" href="https://twitter.com/englishthroat" data-tweet-limit="2">Tweets by englishthroat</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
<div class="col-sm-3">
<h3>世界観占い</h3>
<p>たくさんの世界観占いの様子をここに共有していきましょう
これはココナラ連動が最強　いかに感覚系のひとに楽しんでなんども継続したいと思ってもらうのかが課題
ココナラで修行すべき
</p>
  <a class="twitter-timeline" href="https://twitter.com/foretellingshee" data-tweet-limit="2">Tweets by englishthroat</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>



<%# １軍；ここにツイッターのタイトルとその内容を書いてみよう４つ分が表示される
パソコン系　銭湯サポーター　情報発信セミナー　リノベーション理論%>

<div class="row">
  <div class="col-sm-3">
      <h2>パソコン全般系</h2>
      <p>UbuntuやRailsなどを中心に発信中この分野をあまりわけないっていうのはいいよね。
      情報を細かくまとめるのはポスタッチオ連動だとうまく行かないからQiitaが最高だと思う。
    タイトルのところにリンクを貼っておくと見やすいかも</p>
<a class="twitter-timeline" href="https://twitter.com/pccsheen" data-tweet-limit="2">Tweets by Travel_Acoustic</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    <div class="col-sm-3">
<h2>銭湯サポーター</h2>
<p>銭湯を守る活動　公式銭湯サポーターのページで情報をどんどん共有中
このリンクもタイトルにはれるといいよね。</p>
      <a class="twitter-timeline" href="https://twitter.com/sentohsheen" data-tweet-limit="2">Tweets by francaissheen</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    <div class="col-sm-3">
<h2>ドラゴン桜大学院編</h2>
<p>一般的に大学に入学するよりも大学院へ行くほうが難しいそこで情報発信セミナーから大学院編ドラゴン桜へ流れを繋いでいきましょう。</p>
<a class="twitter-timeline" href="https://twitter.com/dragonsheen" data-tweet-limit="2">Tweets by englishthroat</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
<div class="col-sm-3">
<h2>リノベーション理論</h2>
<p>この理論だけに特化したレッスンとかあるといいのかなすでにリノベーション化した団体とどのようにポジションをしていくかなど
  ビジネス一般もここに書くといいのかなこの理論がすべての支えといえるとおもう。これはとっても大事な理論だよね。
もっとわかりやすく直感的に理解できるゲームをどんどん生成していきましょう。情報発信セミナーがひとつの答え</p>
  <a class="twitter-timeline" href="https://twitter.com/renovationsheen" data-tweet-limit="2">Tweets by englishthroat</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>
</div>




<%# 終了したコミュニティー完成したんだね；ここにツイッターのタイトルとその内容を書いてみよう４つ分が表示される%>
<div class="container">
<div class="w3-container w3-light-gray">
<h2>完成したコミュニティー</h2>
<p>コミュニティーが完成すればあとは安定期に入るのでマイナスキャッシュを丁寧に回収しながら次のコミュニティー生成を行っていく
  オンライ事業までできたのであらたな流れを進めていくことが大切になるでしょうね。


  安定のビジネスになったもの完成したものを紹介中
マネタイズしようと思ったらいつでもできるところがいいよね。
これはキャッシュは必要なときに必要な分だけ回収するっていう流れがあるといいのか
収益バランスの公開をタイトルに貼ってみるといいかな
あとは契約の仕組みについて共有できる範囲内でやってみるとか
クライアント情報があるから例えばの話にしないとまずいかな
　学習用にしないといけないかな</p>


<%# airbnb 英語脳生成　情報発信セミナー　論破力セミナー%>
<div class="row">
  <div class="col-sm-3">
      <h3>ゲストハウスAirbnb</h3>
      <p>これは５年位やったのかな。仕組みを作ったりも成功したよね。ここからリノベーション化理論が生まれていったんだね
      仕組みづくりからマネタイズ　顧客満足度の方法　などを発信中　基本的には教育系ビジネスコンサルタントとしてしか
      これ以上活動しない　一度完成したビジネスはもう継続する必要はない</p>
<a class="twitter-timeline" href="https://twitter.com/Airbnbsheen" data-tweet-limit="2">Tweets by Travel_Acoustic</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    <div class="col-sm-3">
<h3>英語脳</h3>
<p>英語脳生成ゲーム現在は情報発信セミナーやドラゴン桜の中にこのレッスンが混ざっている
マネタイズまで完全にできたもの　英語脳の生成についてまとめたもの
</p>
      <a class="twitter-timeline" href="https://twitter.com/englsihsheen" data-tweet-limit="2">Tweets by francaissheen</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>

    <div class="col-sm-3">
      <h3>情報発信セミナー</h3>
      <p>以下にして情報を収集して発信するのかその方法と場所をどんどん調査していく場所
      おそらくNewGoogleSiteのページを共有するといいかな
      </p>
      <a class="twitter-timeline" href="https://twitter.com/mediasheen" data-tweet-limit="2">Tweets by englishthroat</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
<div class="col-sm-3">
  <h3>論破力セミナー</h3>
  <p>論理性はどこまできたえるのか徹底して言葉を定義していくそんなゲーム</p>
    </div>
  </div>
</div>
</div>


<%# ２軍　；これからきっとあつくなるまだ完全にコミュニティー化できていないものなど%>
<div class="container">
<div class="w3-container w3-pale-yellow">
<h2>これから期待できるコミュニティー</h2>
<p>２軍メンバーですね。少しずつ会を開いて社会的な問題をみつけてそれを解決するように丁寧に進めていきましょう。
メンバー集めはセカンドインタレスト誘発が早いですよね。代表を設定してコミュニティー生成までの流れを加速させよう</p>
<div class="row">
  <div class="col-sm-3">
      <h3>野球理論</h3>
      <p>野球理論を物理的な立場から解析するのは面白そうこれはメンバーがすでに何人かいるから結構面白くなると思う</p>
<a class="twitter-timeline" href="https://twitter.com/baseballsheen" data-tweet-limit="2">Tweets by Travel_Acoustic</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    <div class="col-sm-3">
<h3>詐欺の手口を考える</h3>
<p>騙された実例をあげて考える会はある程度うまく行ったよね。継続して情報を発信することが課題
メンバーはすでに何人かいるから結構いいよね。えーと発信するプラットホームを決定するのは難しいね。</p>
      <a class="twitter-timeline" href="https://twitter.com/swindlersheen" data-tweet-limit="2">Tweets by francaissheen</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    <div class="col-sm-3">
<h3>ガイドマッチングTravee</h3>
<p>HISがやっているマッチングアプリこれをマレーシアでできないな調査中
ガイドのオフィシャル感が出ると全体的に良くなっていくよね。</p>
<a class="twitter-timeline" href="https://twitter.com/Travee4" data-tweet-limit="2">Tweets by englishthroat</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
<div class="col-sm-3">
<h3>就活生を応援</h3>
<p>おそらく名前を変えたり紹介文をもっと優しい感じがいいよね。フェルミ推定の調査ができるって確かにいいかも
これは確実にながれがくるよね。マネタイズをする必要があるのかどうかも不明</p>
  <a class="twitter-timeline" href="https://twitter.com/jobsheen" data-tweet-limit="2">Tweets by englishthroat</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>
</div>




<%# 第６陣；ここにツイッターのタイトルとその内容を書いてみよう４つ分が表示される%>

<div class="row">
  <div class="col-sm-3">
      <h2>フランス語宇宙旅行</h2>
      <p>フランス語脳を作るために宇宙旅行中</p>
<a class="twitter-timeline" href="https://twitter.com/francaissheen" data-tweet-limit="2">Tweets by Travel_Acoustic</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    <div class="col-sm-3">
<h2>数学小僧</h2>
<p>数学の情報をとにかく発信　数学者への道</p>
      <a class="twitter-timeline" href="https://twitter.com/mathsheen" data-tweet-limit="2">Tweets by francaissheen</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    <div class="col-sm-3">
<h2>英語喉</h2>
<p>英語喉の情報をどんどんアップして</p>
<a class="twitter-timeline" href="https://twitter.com/englishthroat" data-tweet-limit="2">Tweets by englishthroat</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
<div class="col-sm-3">
<h2>世界観占い</h2>
<p>たくさんの世界観占いの様子をここに共有していきましょう</p>
  <a class="twitter-timeline" href="https://twitter.com/foretellingshee" data-tweet-limit="2">Tweets by englishthroat</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>







<%# 第７陣；ここにツイッターのタイトルとその内容を書いてみよう４つ分が表示される%>

<div class="row">
  <div class="col-sm-3">
      <h2>フランス語宇宙旅行</h2>
      <p>フランス語脳を作るために宇宙旅行中</p>
<a class="twitter-timeline" href="https://twitter.com/francaissheen" data-tweet-limit="2">Tweets by Travel_Acoustic</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    <div class="col-sm-3">
<h2>数学小僧</h2>
<p>数学の情報をとにかく発信　数学者への道</p>
      <a class="twitter-timeline" href="https://twitter.com/mathsheen" data-tweet-limit="2">Tweets by francaissheen</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    <div class="col-sm-3">
<h2>英語喉</h2>
<p>英語喉の情報をどんどんアップして</p>
<a class="twitter-timeline" href="https://twitter.com/englishthroat" data-tweet-limit="2">Tweets by englishthroat</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
<div class="col-sm-3">
<h2>世界観占い</h2>
<p>たくさんの世界観占いの様子をここに共有していきましょう</p>
  <a class="twitter-timeline" href="https://twitter.com/foretellingshee" data-tweet-limit="2">Tweets by englishthroat</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>

<%# ここにコメントをどしどし書いていきましょう。
たとえばツイッターをどんどん埋め込んでいくと見やすいものになるのかなわからないけど
とりあえずまとめていきましょう。
それで流れがどうなっているかを確認することができると思います。
どんな感じでプログラミング　仕組みづくりを進めていくのかをしっかりと
理解していく必要があります。%>
  <%# これはテーブルの流れですね。 %>
<%# 全体のこんていなー%>
</div>




  <div class="container">





    <h2>最新のツイッター情報をどんどんまとめていきましょう</h2>
    <%# これですべての情報をとっても管理しやすくなりますね%>
      <blockquote class="twitter-tweet" data-lang="jp"><p lang="ja" dir="ltr">ピッチングを物理学を使って説明している人がいたーLAS理論とか書いていたね<br><br>物理学の円運動を利用しているとか書いているけどいったいどういうことなんだろう<br><br>ちょっと調べてみよう<a href="https://t.co/5gPoGBE79t">https://t.co/5gPoGBE79t</a></p>&mdash; 野球理論 (@baseballsheen) <a href="https://twitter.com/baseballsheen/status/986086893472309248?ref_src=twsrc%5Etfw">17 avril 2018</a></blockquote>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <h2>顧客管理情報を丁寧にまとめましょう。</h2>
    <p>出会いのきっかけなどを丁寧に整理していきましょう。</p>
    <table class="table table-bordered">

<h3>こんなふうに進捗状況を視覚化するとわかりやすいよね</h3>
      <%#進捗状況をあらわすバー %>
        <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="100" style="width:70%">
          70%　オンライン教育の状態
        </div>
      </div>


<%# 項目名を記述しましょう %>
      <thead>
        <tr class="danger">
          <th>名前</th>
          <th>きっかけ</th>
          <th>レッスン名</th>
　　　　　　<th>状態</th>
        </tr>
      </thead>

      <%# 実際の顧客情報　これはたしかしに繰り返し使える　%>
      <tbody>
        <tr class="success">
          <td>pukyu</td>
          <td>ココナラ</td>
          <td>世界観占い</td>
          <td><a href="https://gist.github.com/somethingkindawierd/9120901">
            体験中</a></td>
          <%# リンクを飛ばすとわかりやすくなりますよね %>
        </tr>
        <tr class="danger">
          <td>Mary</td>
          <td>Moe</td>
          <td>mary@example.com</td>
          <td><iframe width="200" height="150" src="https://www.youtube.com/embed/YYCmxqA-4vY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </td>
        </tr>
        <tr class="info">
          <td>July</td>
          <td>Dooley</td>
          <td>july@example.com</td>
          <td>体験中</td>
        </tr>
      </tbody>
    </table>
  </div>



  <div class="container">
    <h2>ボタンをクリックするとさらに選ぶこと</h2>
    <p>このボタンがたくさんあることでいろんなサイトに簡単に
      直感的に飛ぶことができていいですよね。</p>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle"
      type="button" data-toggle="dropdown">各種サイト
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_dropdown-divider&stacked=h">リンクを生成する</a></li>
        <li><a href="#">数学脳</a></li>
        <li><a href="#">ビジネス脳</a></li>
        <li class="divider"></li>
        <li><a href="http://guides.rubyonrails.org/getting_started.html">英語脳中級編</a></li>
        <li class="divider"></li>
        <li><a href="#">About Us</a></li>
      </ul>
    </div>
  </div>


  <div class="container">
    <h1>みなさんこんにちは</h1>
    <h2><%= link_to '朝ごはんサイトへ', 'breackfast' %></h2>
    <h2>ギャラリーアート写真コレクション</h2>
    <p>このギャラリーではどんなふうに進めていくのかいいでしょうね。</p>
    <p>わくわくするね</p>
    <p>どの猫を選ぶのがいいかな</p>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/w3images/lights.jpg" target="_blank">
            <img src="http://www.freepngimg.com/thumb/cat/7-cat-png-image-download-picture-kitten-thumb.png" alt="Lights" style="width:50%">
            <div class="caption">
              <p>例えばどんなふうにまとめていくのかがとても大事になってきますね。
                </p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="http://www.freepngimg.com/animals/cat" target="_blank">
            <img src="http://www.freepngimg.com/thumb/cat/6-cat-png-image-download-picture-kitten-thumb.png" alt="Nature" style="width:50%">
            <div class="caption">
              <p>これはリンクを自動生成するものですね。</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/w3images/fjords.jpg" target="_blank">
            <img src="http://www.freepngimg.com/thumb/cat/19-cat-png-image-download-picture-kitten-thumb.png" alt="ねこ" style="width:50%">
            <div class="caption">
              <p>これをちゃんと進めていきましょう</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

<div class="jumbotron text-center">
  <h1>英語脳を作りましょう</h1>
  <p>英語脳はどうやって生成するのか、この流れを確実にすすめていくことを考えていきましょう</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>２．英語は英語で考えましょう</h3>
      <p>この流れは意外とありで難しいですが、この流れで取り組んでいくといいと思います。</p>
      <p>上級編逆宇宙旅行はとっても難しい内容になっていますが、確実に取り組んでいくことができます。</p>

    </div>
    <div class="col-sm-4">
      <h3>２．論破力セミナー</h3>
      <p>理系女子を育てる仕組みでとっても重要な作業である。</p>
      <p>論理性を高めるためにはどのような作業が必要かを丁寧に分析しましょう。</p>
    </div>
    <div class="col-sm-4">
      <h3>３．世界観占い</h3>
      <p>論理的思考を持つと簡単にわかるこの占いのロジックとっても簡単にとけると思います。</p>
      <p>知らない流れはいくつあるのかを考えましょう。</p>
    </div>
  </div>
</div>
<footer class="container-fluid text-center">
  <p>場所にとらわれない生き方</p>
</footer>
</body>
</html>
